section(layout='row', flex, remaining-height)
    md-sidenav.md-sidenav-left(md-component-id='left',  md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4", style='overflow: auto')
        md-content
            md-toolbar
                .md-toolbar-tools
                    md-button.md-fab.md-raised.md-mini.md-hue-1(ng-if='c.showTreeMenu()', ng-click='c.addFolder($event)')
                        md-tooltip(md-direction='top') Add Folder
                        i.fa.fa-folder.fa-fw
                    md-button.md-fab.md-raised.md-mini.md-hue-1(ng-if='c.showTreeMenu()', ng-click='c.addList($event)')
                        md-tooltip(md-direction='top') Add List
                        i.fa.fa-book.fa-fw
                    span(flex)
                    md-button.md-fab.md-raised.md-mini.md-warn.md-hue-2(ng-if='c.SelectedFolder !== undefined', ng-click='c.deleteNode($event)')
                        md-tooltip(md-direction='top') Delete
                        i.fa.fa-ban.fa-fw
            md-content(layout-padding)
                treecontrol.tree-classic(tree-model='c.TreeModel', 
                    options='c.TreeOptions', 
                    selected-node='c.SelectedFolder', 
                    on-selection="c.selectFolder(node)",
                    expanded-nodes='c.ExpandedNodes',
                    on-node-toggle='c.toggleNode()') {{node.Name}}
    md-content(flex, layout-padding) {{c.SelectedFolder}}