section(layout='row', flex, remaining-height)
    md-sidenav.md-sidenav-left(md-component-id='left',  md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4", style='overflow: auto')
        md-content
            md-toolbar
                .md-toolbar-tools
                    md-button.md-mini(ng-if='c.SelectedFolder !== undefined && c.SelectedFolder._type !== "List"', ng-click='c.addFolder($event)')
                        i.fa.fa-plus.fa-fw
                        span  Add Folder
                    md-button(ng-if='c.SelectedFolder !== undefined && c.SelectedFolder._type !== "List"', ng-click='c.addList($event)')
                        i.fa.fa-plus.fa-fw
                        span  Add List
            md-content(layout-padding)
                treecontrol.tree-classic(tree-model='c.TreeModel', 
                    options='c.TreeOptions', 
                    selected-node='c.SelectedFolder', 
                    on-selection="c.selectFolder(node)",
                    expanded-nodes='c.ExpandedNodes',
                    on-node-toggle='c.nodeToggle(node)') {{node.Name}}
    md-content(flex, layout-padding) {{c.ExpandedNodes}}